@import url('https://fonts.googleapis.com/css?family=Arvo');

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#map {
  float: right;
}

#controls {
  overflow: scroll;
}

.selectize-input{
  background-color: white;
  border: none !important;
}

selectize-input.full {
    background-color: whitesmoke;
}
/* Customize fonts */
  body, label, button { 
    font-family: 'Menlo';
    font-weight: 200;
  }

h1 {
  font-weight: 200;
  font-size: 15px;
}
  
h2 {
  font-weight: 200;
  font-size: 15px;
  padding-top: 30px;
}

h4 {
  font-weight: 900;
  font-size: 30px;
}

h5 {
  font-weight: 900;
  font-size: 60px;
}

h3 { font-weight: 400; }

#controls {
/* Appearance */
  background-color: white;
padding: 20px 20px 20px 20px;
cursor: move;
width: 500px;
}

/* Position and style citation */
  #cite {
  position: absolute;
bottom: 10px;
left: 10px;
font-size: 12px;
}

#input {
display: block;
margin-bottom: 16px;
padding: 0 8px;
width: 100%;
height: 32px;
color: #666;
  -webkit-border-radius: none;
border-radius: 0;
}


.navbar-nav {
    float: right;
    margin: 0;
    margin-left: 20%;

}

.navbar-nav a{
    background-color: white !important;
}

.navbar-nav a:hover  {
    color: #EB6531 !important;
}

.navbar-nav a:active  {
    color: #4A90E2 !important;
}


.container-fluid {
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

span.navbar-brand {
  font-weight: bold;
  font-size: 20px;
  color: #F04245;
}

.navbar-default .navbar-brand {
    color: #F04245;
}

/* If not using map tiles, show a white background */
  .leaflet-container {
    background-color: white !important;
  }